[MASTER]
fail-under=10.0
init-hook="from pylint.config import find_pylintrc; import os, sys; sys.path.append(os.path.dirname(find_pylintrc()))"
disable=
  broad-except,
  global-statement,
  invalid-name,
  missing-class-docstring,
  missing-function-docstring,
  missing-module-docstring,
  multiple-statements,
  no-member,
  no-value-for-parameter,
  redefined-builtin,
  too-few-public-methods,
  protected-access,
  too-many-arguments,
